mixin form-email(typeOne, description, fieldsName)
	form
		legend
			h3= fieldsName
			.container-text-field
				input(type=typeOne, value=description).text-field-border&attributes(attributes)
				input(type="submit" class="material-icons arrow-forward" value="arrow_forward")

mixin form-date(typeOne, description, fieldsName)
	form
		legend
			h3= fieldsName
			.container-text-field
				input(type=typeOne class="" value="16-11-2019").text-field-border&attributes(attributes)
