mixin bullet-list(color, text, margin, type)

  - var colorsStyle = ["excellent", "good", "satisfactorily", "badly", "grey"]
  - var colored;
  each col in colorsStyle
    if (col == color)
      - colored = col

  - var margins = ["low", "big", "none"];
  - var marginForUl = "none";
  each marg in margins
    if(marg == margin)
      - marginForUl = marg;

  if(type === "color")
    ul(class=`bullet-list  bullet-list_margin_${marginForUl}`)
      div(class=`bullet-list__disc  bullet-list__disc_${colored}-color `)
      .bullet-list__text= text
  if(type === "grey")
    ul(class=`bullet-list__grey-disk bullet-list_margin_${marginForUl}`)
      .bullet-list__grey
      .bullet-list__text= text
