mixin comments(img, name, date, likes, check, text)
	div.comments
		div
			img(src=img alt="Cinque Terre" width="48" height="48")
		div
			h3= name
			div.comments-date= date
		div.comments_like-button
			label.like-button_label
				if (check == "checked")
					input(type="checkbox" checked).like-button_input
				if (check != "checked")
					input(type="checkbox").like-button_input
				.like-buttons
					.like-buttons_empty-white
					.like-buttons_div= likes
				.material-icons.like-buttons_favorite_border favorite_border
				.material-icons.like-buttons_favorite favorite
		div.comments_description= text