mixin icon-advantages(data)
  -
    data = data || [{
      img: "home",
      alt: "icon smile",
      size: 40,
      title: "Комфорт",
      text: "Шумопоглащающие стены",
      borderStyle: "__without-border"
        }
      ]

  each obj in data
    - newClass = obj.borderStyle ? `icon-advantages${obj.borderStyle}` : "icon-advantages"
    div(class=newClass)
      div.icon-advantages__image(class = `icon-advantages__image_${obj.img}`)
      .icon-advantages__text
        h3.icon-advantages__title= obj.title
        .icon-advantages__description= obj.text
