mixin icon-advantages(data)
  -
    data = data || [{
      img: "imgs/insert_emoticon.svg",
      alt: "icon smile",
      size: 40,
      title: "Комфорт",
      text: "Шумопоглащающие стены",
      borderStyle: "__without-border"
        }
      ]

  each obj in data
    - newClass = obj.borderStyle ? `icon-advantages${obj.borderStyle}` : "icon-advantages"
    div(class=newClass)
      img(src=obj.img alt=obj.alt width=obj.size height=obj.size ).icon-advantages__image
      .icon-advantages__text
        h3.icon-advantages__title= obj.title
        .icon-advantages__description= obj.text
