mixin star-rating-first-checked()
  .rating
    input(type="checkbox" name="star")
    label(for=diffId1)
    input(type="checkbox" name="star")
    label(for=diffId2)
    input(type="checkbox" name="star")
    label(for=diffId3)
    input(type="checkbox" name="star")
    label(for=diffId4)
    input(type="checkbox" name="star")
    label(for=diffId5)
mixin star-rating-second-checked()
  .rating
    input(type="checkbox" name="star")
    label(for=diffId1)
    input(type="checkbox" name="star")
    label(for=diffId2)
    input(type="checkbox" name="star")
    label(for=diffId3)
    input(type="checkbox" name="star" checked)
    label(for=diffId4)
    input(type="checkbox" name="star" checked)
    label(for=diffId5)
mixin star-rating-third-checked()
  .rating
    input(type="checkbox" name="star")
    label(for=diffId1)
    input(type="checkbox" name="star")
    label(for=diffId2)
    input(type="checkbox" name="star" checked)
    label(for=diffId3)
    input(type="checkbox" name="star" checked)
    label(for=diffId4)
    input(type="checkbox" name="star" checked)
    label(for=diffId5)
mixin star-rating-fourth-checked()
  .rating
    input(type="checkbox" name="star")
    label(for=diffId1)
    input(type="checkbox" name="star" checked)
    label(for=diffId2)
    input(type="checkbox" name="star" checked)
    label(for=diffId3)
    input(type="checkbox" name="star" checked)
    label(for=diffId4)
    input(type="checkbox" name="star" checked)
    label(for=diffId5)
mixin star-rating-fifth-checked()
  .rating
    input(type="checkbox" name="star" checked)
    label(for=diffId1)
    input(type="checkbox" name="star" checked)
    label(for=diffId2)
    input(type="checkbox" name="star" checked)
    label(for=diffId3)
    input(type="checkbox" name="star" checked)
    label(for=diffId4)
    input(type="checkbox" name="star" checked)
    label(for=diffId5)