mixin star-rating-first-checked()
  .rating
    input(type="checkbox" name="star").rating__input
    label(for=diffId1).rating__label
    input(type="checkbox" name="star").rating__input
    label(for=diffId2).rating__label
    input(type="checkbox" name="star").rating__input
    label(for=diffId3).rating__label
    input(type="checkbox" name="star").rating__input
    label(for=diffId4).rating__label
    input(type="checkbox" name="star").rating__input
    label(for=diffId5).rating__label
mixin star-rating-second-checked()
  .rating
    input(type="checkbox" name="star").rating__input
    label(for=diffId1).rating__label
    input(type="checkbox" name="star").rating__input
    label(for=diffId2).rating__label
    input(type="checkbox" name="star").rating__input
    label(for=diffId3).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId4).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId5).rating__label
mixin star-rating-third-checked()
  .rating
    input(type="checkbox" name="star").rating__input
    label(for=diffId1).rating__label
    input(type="checkbox" name="star").rating__input
    label(for=diffId2).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId3).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId4).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId5).rating__label
mixin star-rating-fourth-checked()
  .rating
    input(type="checkbox" name="star").rating__input
    label(for=diffId1).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId2).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId3).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId4).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId5).rating__label
mixin star-rating-fifth-checked()
  .rating
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId1).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId2).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId3).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId4).rating__label
    input(type="checkbox" name="star" checked).rating__input
    label(for=diffId5).rating__label