mixin comments(img, name, date, likes, check, text)
	div.comments
		div
			img(src=img alt="Cinque Terre" width="48" height="48")
		div
			h3= name
			div= date
		div
			label.like-button_label
				if (check == "checked")
					input(type="checkbox" checked).like-button_input
				if (check != "checked")
					input(type="checkbox").like-button_input
				.like-buttons
					.like-buttons_empty-white
					.like-buttons_div= likes
				.material-icons.like-buttons_favorite_border favorite_border
				.material-icons.like-buttons_favorite favorite
		div= text

	//- div.comments
	//- 	div
	//- 		img(src="../../../../src/UI-kit/pic/murad-true.png" alt="Cinque Terre" width="48" height="48")
	//- 	div
	//- 		h3 Мурад Сарафанов
	//- 		div 5 дней назад
	//- 	div
	//- 		label.like-button_label
	//- 			input(type="checkbox" checked).like-button_input
	//- 			.like-buttons
	//- 				.like-buttons_empty-white
	//- 				.like-buttons_div 12
	//- 			.material-icons.like-buttons_favorite_border favorite_border
	//- 			.material-icons.like-buttons_favorite favorite
	//- 	div Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.