include ../../blocks/star-rating/star-rating.pug
include ../../blocks/pagination-circle/pagination-circle.pug

mixin hotel-room-card(imgName, numberOfStars, roomNumber, price, lux, review, ref, numOfPugination, alt)
  .hotel-room
    a(href=ref)
      img(src=imgName, alt=alt ).hotel-room__img
    .hotel-room__circles
      +pagination-circle(numOfPugination)
    .hotel-room__text
      .hotel-room__number
        h3.hotel-room__symbol №
        h2.hotel-room__room-number= roomNumber
        if (lux == "lux")
          h3.hotel-room__lux люкс
      .hotel-room__cost
        p.hotel-room__price= price
        span.hotel-room__per-day в сутки
    .hotel-room__raiting
      +star-rating(numberOfStars)
      .hotel-room__review
        h3.hotel-room__review_numeric= review
        span Отзывов
