mixin star-rating-first-checked(diffId1, diffId2, diffId3, diffId4, diffId5)
	.rating
		input(type="checkbox" name="star" id=diffId1)
		label(for=diffId1)
		input(type="checkbox" name="star" id=diffId2)
		label(for=diffId2)
		input(type="checkbox" name="star" id=diffId3)
		label(for=diffId3)
		input(type="checkbox" name="star" id=diffId4)
		label(for=diffId4)
		input(type="checkbox" name="star" id=diffId5 checked)
		label(for=diffId5)
mixin star-rating-second-checked(diffId1, diffId2, diffId3, diffId4, diffId5)
	.rating
		input(type="checkbox" name="star" id=diffId1)
		label(for=diffId1)
		input(type="checkbox" name="star" id=diffId2)
		label(for=diffId2)
		input(type="checkbox" name="star" id=diffId3)
		label(for=diffId3)
		input(type="checkbox" name="star" id=diffId4 checked)
		label(for=diffId4)
		input(type="checkbox" name="star" id=diffId5 checked)
		label(for=diffId5)
mixin star-rating-third-checked(diffId1, diffId2, diffId3, diffId4, diffId5)
	.rating
		input(type="checkbox" name="star" id=diffId1)
		label(for=diffId1)
		input(type="checkbox" name="star" id=diffId2)
		label(for=diffId2)
		input(type="checkbox" name="star" id=diffId3 checked)
		label(for=diffId3)
		input(type="checkbox" name="star" id=diffId4 checked)
		label(for=diffId4)
		input(type="checkbox" name="star" id=diffId5 checked)
		label(for=diffId5)
mixin star-rating-fourth-checked(diffId1, diffId2, diffId3, diffId4, diffId5)
	.rating
		input(type="checkbox" name="star" id=diffId1)
		label(for=diffId1)
		input(type="checkbox" name="star" id=diffId2 checked)
		label(for=diffId2)
		input(type="checkbox" name="star" id=diffId3 checked)
		label(for=diffId3)
		input(type="checkbox" name="star" id=diffId4 checked)
		label(for=diffId4)
		input(type="checkbox" name="star" id=diffId5 checked)
		label(for=diffId5)
mixin star-rating-fifth-checked(diffId1, diffId2, diffId3, diffId4, diffId5)
	.rating
		input(type="checkbox" name="star" id=diffId1 checked)
		label(for=diffId1)
		input(type="checkbox" name="star" id=diffId2 checked)
		label(for=diffId2)
		input(type="checkbox" name="star" id=diffId3 checked)
		label(for=diffId3)
		input(type="checkbox" name="star" id=diffId4 checked)
		label(for=diffId4)
		input(type="checkbox" name="star" id=diffId5 checked)
		label(for=diffId5)