include ../../elements/rate-button/rate-button.pug
include ../../elements/pagination-circle/pagination-circle.pug

mixin hotel-room-card(imgName, numberOfStars, roomNumber, price, lux, review, ref, numOfPugination)
  .hotel-room
    a(href=ref)
      img(src=imgName, alt="" ).hotel-room__img
    .hotel-room__circles_block
      +pagination-circle(numOfPugination)
    .hotel-room__text
      .hotel-room__number
        h3.hotel-room__number_symbol №
        h2.hotel-room__number_number= roomNumber
        if (lux == "lux")
          h3.hotel-room__number_lux люкс
      .hotel-room__cost
        p.hotel-room__cost_price= price
        span.hotel-room__cost_per-day в сутки
    .hotel-room__raiting
      if (numberOfStars == 1)
        +star-rating-first-checked()
      if (numberOfStars == 2)
        +star-rating-second-checked()
      if (numberOfStars == 3)
        +star-rating-third-checked()
      if (numberOfStars == 4)
        +star-rating-fourth-checked()
      if (numberOfStars == 5)
        +star-rating-fifth-checked()
      .hotel-room__review
        h3.hotel-room__review_number= review
        span Отзывов
